<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()">
        <ons-icon icon="bars"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">Modify a Client</div>
  </ons-toolbar>
  <ons-list ng-controller="ModificarClieController">
    
      
    
   <center>Insert de Code:</center><div class="cent2"><input ng-model="codigo">  </br></br></div> 
     
   <center>Insert de Name:</center><div class="cent2"><input ng-model="nombre"> </br></br></div>  
     
   <center>Insert the last names:</center><div class="cent2"><input ng-model="apellidos"> </br></br></div>  
     
   <center>Insert the Phone:</center><div class="cent2"><input ng-model="telefono"></br></br></div> 

    </br>
      
     <center> <button ng-click="addClie(codigo,nombre,apellidos,telefono)">Modify the Client</button></center> 
   
    <ons-list-item ng-repeat="add in addcliente" >
      <ons-row>
        
          
          
          
          
        <ons-col>
            
            
       
            
  <center>            
            
<table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000">
    
    
<tr> 
    
    <th>Code</th>
    <th>Name</th>
    <th>Last Names</th>
    <th>Phone</th>
    
</tr>
    
    
<tr> 
    
    <td>{{add.codigo}}</td>
    <td>{{add.nombre}}</td>
    <td>{{add.apellidos}}</td>
    <td>{{add.Telefono}}</td>
   
</tr>
         
            
    
</table>
  <center>   
            
            
            
            
        </ons-col>
          
          
          
          
        <ons-col width="40px"></ons-col>
      </ons-row>
    </ons-list-item>
  </ons-list>

</ons-page>