<!DOCTYPE HTML>
<html>

    <head><link href="css/style.css" rel="stylesheet" type="text/css" media="screen"></head>
<body background="restaurante.jpg">

<ons-navigator>
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="ons.slidingMenu.toggleMenu()">
          <ons-icon icon="bars"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">Casa González Restaurant</div>
    </ons-toolbar>

    <div style="text-align: center">
      <h1>Restaurante Management</h1>
  

      <p> In this page you`ll realice reservations and add clients </p>

      <p>Also, you can do reservations or clients changes.</p>
        
            <ons-button ng-click="app.slidingMenu.toggleMenu()">
       Go To Management Menu!!
                
                
               
      </ons-button>
        <center><img src="restaurante.jpg"></center>
      
    </div>
  </ons-page>
</ons-navigator>
    </body>
    </html>
