<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()">
        <ons-icon icon="bars"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">Delete Client</div>
  </ons-toolbar>
  <ons-list ng-controller="BorrarClieController">
    
    <center> Insert the Client Code to Delete:</center><div class="cent2"><input ng-model="codigo">  </br></br></div>
    

      
    <center><button ng-click="borring(codigo)">Delete Client</button></center> 
   
    <ons-list-item ng-repeat="bor in borrcliente" >
      <ons-row>
        
          
          
          
          
        <ons-col>
            
            
       
            
  <center>
            
            
<table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000">
    
    
<tr> 
    
    <th>Code</th>
    <th>Name</th>
    <th>Last Names</th>
    <th>Phone</th>
    
</tr>
    
    
<tr> 
    
    <td>{{bor.codigo}}</td>
    <td>{{bor.nombre}}</td>
    <td>{{bor.apellidos}}</td>
    <td>{{bor.telefono}}</td>
   
</tr>
         
            
    
</table>
            </center>
            
            
            
        </ons-col>
          
          
          
          
        <ons-col width="40px"></ons-col>
      </ons-row>
    </ons-list-item>
  </ons-list>

</ons-page>