<ons-navigator title="Navigator" var="myNavigator">
    <ons-page ng-controller="PaginationControllerAll">
        <ons-toolbar style="background-color: rgba(128, 128, 128, 0.21);">
            <div class="left">
                <ons-toolbar-button ng-click="prevPage()" >Previous page</ons-toolbar-button>
            </div>
            <div class="center">Page {{ currentPage }}</div>
            <div class="right">
                <ons-toolbar-button ng-click="nextPage()">Next page</ons-toolbar-button>
            </div>
        </ons-toolbar>
        <!-- <ons-button>
            <a style="color: white" target="_blank" href="http://codepen.io/argelius/pen/wBWKOo">The code with anything else</a>
        </ons-button>
        <ons-button>
            <a style="color: white" target="_blank" href="https://github.com/michaelbromley/angularUtils/tree/master/src/directives/pagination">Another way, paginate anything (almost)</a>
        </ons-button> -->
        <ons-list>
            <ons-list-item ng-repeat="item in getCurrentPage()" ng-click="ponerSeleccion(item)" onclick="myNavigator.pushPage('pageN3.html', { animation : 'slide' } )">
                <ons-row>
                    <ons-col width="95px">
                        <img ng-src="{{item.img}}" class="thumbnail">
                    </ons-col>
                    <ons-col>
                        <div class="name">
                            {{item.nombre}}
                        </div>
                        <div class="location">
                            <!--  <i class="fa fa-map-marker"></i>--> {{item.director}}
                        </div>
                        <div class="year">
                            {{item.year}}
                        </div>
                        <div class="gender">
                            {{item.genero}}
                        </div>
                    </ons-col>
                    <ons-col width="40px"></ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
    </ons-page>
    <!--    {{'page'+item+'.html'}}
    {{'pageN'+item+'.html'}}
    -->

</ons-navigator>


<ons-template id="pageN3.html">
    <ons-page ng-controller="PaginaSeleccionadaController">
        <ons-toolbar>
            <div class="left">
                <ons-back-button>Back</ons-back-button>
            </div>
            <div class="center">Film: {{actual.nombre}}</div>
        </ons-toolbar>
        <div style="text-align: center;">
            <ons-button modifier="dark" onclick="myNavigator.popPage()" class="margin-top">
                <img ng-src="{{actual.img}}" class="thumbnail pop_film">
                <br>
                <div class="name">
                    {{actual.nombre}}
                </div>
                <div class="desc">
                    <!--  <i class="fa fa-map-marker"></i> -->{{actual.director}}
                </div>
                <div class="year_pop pop_film">
                    {{actual.year}}
                </div>
            </ons-button>
            <!--<br>{{actual}}-->
        </div>
    </ons-page>
</ons-template>

</ons-template>
