<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()">
        <ons-icon icon="bars"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">Modify a film</div>
  </ons-toolbar>
  <ons-list ng-controller="ModificarFilmController">
    <div class="form-group">
      <label for="usr">Insert the ID of the film to modify:</label>
      <input type="text" class="form-control" ng-model="codigo">
    </div>
    <div class="form-group">
      <label for="name">Change de name:</label>
      <input type="text" class="form-control" ng-model="nombre">
    </div>
    <div class="form-group">
      <label for="dirc">Change director:</label>
      <input type="text" class="form-control" ng-model="director">
    </div>
    <div class="form-group">
      <label for="year">Change year:</label>
      <input type="text" class="form-control" ng-model="year">
    </div>
    <div class="form-group">
      <label for="gnd">Change GENDER;</label>
      <input type="text" class="form-control" ng-model="gender">
    </div>
    <button ng-click="modify(codigo,nombre,director,year,gender)">Modify the film !</button>
   
  </ons-list>

</ons-page>