<ons-navigator var="minavegacion">
  <ons-page >
    
        <ons-toolbar-button ng-click="ons.slidingMenu.toggleMenu()">
          <ons-icon icon="bars"></ons-icon>
        </ons-toolbar-button>
      	
    <div class="div_page_1">
     	<br />
      	<h1 class="tittle_init" >Welcome!</h1>
      	<hr>
      	<center><h1 class="h1_index">Tired of looking for the 90s best films in google? Forums? This is your page!</h1><h1 class="h1_index h1_index2"> With only five minutes
      	 I browsing through it, I'm sure that will add to favorites. Well ... On this page you will find the best 
      	 movies of all time so far today. You Have an option to filter on gender and view details of each. And finally, 
      	 you can filter them by the search engine.</h1></center>
      	 <span class="toggle_menu">Click "Toggle Menu" to close/open menu.. <ons-button ng-click="app.slidingMenu.toggleMenu()">
         Toggle Menu
     	</ons-button> .. you can also swipe the page left/right.</span>
    </div> 
  </ons-page>
</ons-navigator>
