<ons-page ng-controller="loginform" ng-init="init(minavigator)">
  <ons-toolbar>
      <div class="center">Sanchis Systems</div>

  </ons-toolbar>

  <div style="text-align: center; margin-top: 30px;">
  <input class="text-input--underbar" placeholder="Usuario" type="text" ng-model="usuario"/>
  </div>

  <div style="text-align: center; margin-top: 30px">
  <input class="text-input--underbar" placeholder="Contraseña" type="password" ng-model="pass" />

  </div>
  <div style="text-align: center; margin-top:30px;">
    <ons-button class="login-button" ng-click="entrar(usuario,pass,minavigator)">
      Entrar
    </ons-button>
  </div>
</ons-page>
