<style>
.imgsolo{
  display: block;
margin-left: auto;
margin-right: auto;
}
.list-item-container {
    line-height: 1;
    padding: 15px 0px 15px 15px;
}
.thumbnail {
    width: 200px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}
.name {
    font-weight: 500;
    line-height: 16px;
    font-size: 15px;
    margin-bottom: 6px;
}
.location {
    font-size: 14px;
    opacity: 0.4;
    margin-bottom: 6px;
}
.desc {
    line-height: 1.2;
    font-size: 13px;
}
</style>

<script>
</script>
    <ons-page ng-controller="PaginaSeleccionadaController">
        <ons-toolbar>
            <div class="left">
                <ons-back-button>Volver</ons-back-button>
            </div>
            <div class="center">{{actual.nombre}}</div>
        </ons-toolbar>
        <div style="text-align: center;">
                <img ng-src="{{actual.img}}" class="thumbnail imgsolo">
                <br>
                <div class="name">
                    {{actual.nombre}}
                </div>
                <div class="location">
                    <i class="fa fa-map-marker"></i> {{actual.modelo}}
                </div>
                <p>{{actual.desc}}</p>
                <ons-button ng-click="editarmaquina(actual.codigo);">Editar maquina</ons-button>
                <ons-button ng-click="eliminarmaquina(actual.codigo);"modifier="outline">Eliminar maquina</ons-button>


        </div>
    </ons-page>
