<ons-page ng-controller="PaginationController">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="prevPage()">Previous page</ons-toolbar-button>
    </div>
    <div class="center">Page {{ currentPage + 1 }}</div>
    <div class="right">
      <ons-toolbar-button ng-click="nextPage()">Next page</ons-toolbar-button>
    </div>
  </ons-toolbar>
  <ons-button>
      <a style="color: white" target="_blank" href="http://codepen.io/argelius/pen/wBWKOo">The code with anything else</a>
  </ons-button>
  <ons-button>
      <a style="color: white" target="_blank" href="https://github.com/michaelbromley/angularUtils/tree/master/src/directives/pagination">Another way, paginate anything (almost)</a>
  </ons-button>
  <ons-list>
    <ons-list-item ng-repeat="item in getCurrentPage()">{{ item }}</ons-list-item>
  </ons-list>
</ons-page>
 