<ons-page ng-controller="InicioController" >
     <ons-toolbar>
        <div class="center">Log In</div>
        <div class="right"><ons-toolbar-button>Close</ons-toolbar-button></div>
      </ons-toolbar>
<div class="card">

          <div class="card-name">Cook with xavi</div>
          <div class="card-desc">A great selection of the best recipes of the world</div>

        </div>

      <div class="login-form" ng-init="init(minavegador)">

        <input type="email" class="text-input--underbar" ng-model="email" placeholder="Email" value="">
        <input type="password" class="text-input--underbar" ng-model="pass" placeholder="Password" value="">
        <br><br>
        <ons-button modifier="large" class="login-button" ng-click="inicio(email, pass,minavegador)">Log In</ons-button>
        <br><br>
        <ons-button modifier="quiet" class="forgot-password">Forgot password?</ons-button>
      </div>

      </ons-page>