<ons-navigator>
  <ons-page ng-controller="AppController">
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="ons.slidingMenu.toggleMenu()">
          <ons-icon icon="bars"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">Wellcome to your media player  :) </div>
    </ons-toolbar>
 
    <div style="text-align: center">
      <h1>Home</h1>
      <ons-button ng-click="app.slidingMenu.toggleMenu()">
        Menú
      </ons-button>
 
      <p> I hope u enjoy all these songs, </p>
      <p> or not. </p>
      <img src="http://www.tenvinilo.com/img/vinilo/png/Vinilo%20para%20port%C3%A1til%20mac%20vinilo.png" alt=""></img>
    </div> 
  </ons-page>
</ons-navigator>

