img.topleft{
	position: absolute;
	top: 0px;
	left: 0px;
}
img.topright{
	position: absolute;
	top: 0px;
	right: 0px;
}
img.bottomleft{
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.noFade{
 opacity:1;
}
.noList{
list-style-type:none
}
