
    <ons-page>

    <div class="login-form" ng-controller="ControladorClientes">

       <div>
          HOLA
           {{a}}
       </div>
        <table class="table table table-bordered table-striped table-hover table-condensed " style=" text-align: center">
            <thead>
                <th style=" text-align: center">Code</th>
                <th style=" text-align: center">Name</th>
                <th style=" text-align: center">Surnames</th>
                <th style=" text-align: center">Email</th>
                <th style=" text-align: center">Phone</th>
                <th style=" text-align: center">Address</th>
                <th style=" text-align: center">
                    <a type="button" class="btn btn-primary btn-large  " href="#test_modal_addCliente" data-toggle="modal" style="background:#000;">
                        <ons-icon icon="ion-plus-circled" size="21px" class="ons-icon ons-icon--ion ion-plus-circled" style="font-size: 10px;"></ons-icon>
                    </a>
                </th>
                               
            </thead>
            <tr ng-repeat="cliente in getCurrentPage()" ng-click="ponerSeleccion(cliente)" >
                <td onclick="myNavigator.pushPage('item.html', { animation : 'slide' } )">{{cliente.cod}}</td>
                <td onclick="myNavigator.pushPage('item.html', { animation : 'slide' } )">{{cliente.nombre}}</td>
                <td onclick="myNavigator.pushPage('item.html', { animation : 'slide' } )">{{cliente.apellidos}}</td>
                <td onclick="myNavigator.pushPage('item.html', { animation : 'slide' } )">{{cliente.email}}</td>
                <td onclick="myNavigator.pushPage('item.html', { animation : 'slide' } )">{{cliente.telefono}}</td>
                <td onclick="myNavigator.pushPage('item.html', { animation : 'slide' } )">{{cliente.domicilio}}</td>
                <td>
                    <a type="button" ng-click="modificar(cliente.cod,cliente.nombre,cliente.apellidos,cliente.email,cliente.telefono,cliente.domicilio)" class="btn btn-primary btn-large modificarUser " href="#test_modal_mod" data-toggle="modal">
                        <ons-icon icon="ion-wrench" size="21px" class="ons-icon ons-icon--ion ion-plus-circled" style="font-size: 10px;"></ons-icon>
                    </a>
                    <a type="button" class="btn btn-primary btn-large eliminarUno  " href="#test_modal" data-toggle="modal" ng-click="eliminar(cliente.cod)">
                        <ons-icon icon="ion-trash-a" size="21px" class="ons-icon ons-icon--ion ion-plus-circled" style="font-size: 10px;"></ons-icon>
                    </a>
                </td>
            </tr>

        </table>

        <div class="modal fade" id="test_modal">

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;
                                 </span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">Confirmation of the action</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure to delete this field?</p>
                    </div>
                    <div class="modal-footer">
                        <form class="form-horizontal" method="post">
                            <div class="control-group">
                                <label class="control-label" for="dlgAddDeviceFolder_name">Click accept to remove</label>
                                <div class="controls">
                                    <button type="button" class="btn btn-default " data-dismiss="modal">Cancel</button>
                                    <input type="submit" ng-click="destroyed(myNavigator)" class="btn btn-primary eliminar " name="eliminar" data-dismiss="modal" value="Remove"></input>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="test_modal_addCliente">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;
                                 </span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">Add a new field</h4>
                    </div>
                    <div class="modal-body">

                        <form class="form-horizontal">

                            <div class="form-group has-feedback">
                                <label class="control-label  col-xs-3 col-sm-3 col-md-3 col-lg-3" for="inputSuccess3">Name</label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input type="text" class="form-control ModNameCliente" id="inputSuccess3" aria-describedby="inputSuccess3Status" ng-model="nameUser">
                                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                                </div>
                            </div>

                            <div class="form-group has-feedback">
                                <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3" for="inputSuccess3">Surnames</label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input type="text" class="form-control ModApellidosCliente" id="inputSuccess3" aria-describedby="inputSuccess3Status" ng-model="apellidoUser">
                                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                                </div>
                            </div>

                            <div class="form-group has-feedback">
                                <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3" for="inputSuccess3">Email</label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input type="email" class="form-control ModEmailCliente" id="inputSuccess3" aria-describedby="inputSuccess3Status" ng-model="emailUse2">
                                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                                </div>
                            </div>

                            <div class="form-group has-feedback">
                                <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3" for="inputSuccess3">Phone</label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input type="number" class="form-control ModTelefonoCliente" id="inputSuccess3" aria-describedby="inputSuccess3Status" ng-model="telefono">
                                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                                </div>
                            </div>

                            <div class="form-group  has-feedback">
                                <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3" for="inputSuccess3">Address</label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input type="text" class="form-control ModDomicilioCliente" id="inputSuccess3" aria-describedby="inputSuccess3Status" ng-model="domicilio">
                                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                                </div>
                            </div>

                        </form>

                    </div>
                    <div class="modal-footer">
                        <form class="form-horizontal" method="post">
                            <div class="control-group">
                                <label class="control-label" for="dlgAddDeviceFolder_name">Click accept to add</label>
                                <div class="controls">
                                    <button type="button" class="btn btn-default " data-dismiss="modal">Cancel</button>
                                    <input type="submit" class="btn btn-primary addCliente " name="anadirCliente" data-dismiss="modal" value="Add" ng-click="anadir()"></input>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="test_modal_mod">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;
                                 </span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">Changing field</h4>
                    </div>
                    <div class="modal-body">

                        <form class="form-horizontal">

                            <!--     <div class="form-group has-feedback">
                                <label class="control-label  col-xs-3 col-sm-3 col-md-3 col-lg-3" for="inputSuccess3">Cliente</label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input type="text" class="form-control codigo" id="inputSuccess3" aria-describedby="inputSuccess3Status">
                                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                                </div>
                            </div>-->

                            <div class="form-group has-feedback">
                                <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3" for="inputSuccess3">Name</label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input type="text" class="form-control nombre" id="inputSuccess3" aria-describedby="inputSuccess3Status" ng-model="nombreCli">
                                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                                </div>
                            </div>

                            <div class="form-group  has-feedback">
                                <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3" for="inputSuccess3">Surnames</label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input type="text" class="form-control apellidos" id="inputSuccess3" aria-describedby="inputSuccess3Status" ng-model="apellidosCli">
                                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                                </div>
                            </div>

                            <div class="form-group  has-feedback">
                                <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3" for="inputSuccess3">Email</label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input type="email" class="form-control email" id="inputSuccess3" aria-describedby="inputSuccess3Status" ng-model="emailCli">
                                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                                </div>
                            </div>

                            <div class="form-group  has-feedback">
                                <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3" for="inputSuccess3">Phone</label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input type="text" class="form-control telefono" id="inputSuccess3" aria-describedby="inputSuccess3Status" ng-model="telefonoCli">
                                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                                </div>
                            </div>

                            <div class="form-group  has-feedback">
                                <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3" for="inputSuccess3">Address</label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input type="text" class="form-control domicilio" id="inputSuccess3" aria-describedby="inputSuccess3Status" ng-model="domicilioCli">
                                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="modal-footer">
                        <form class="form-horizontal" method="post">
                            <div class="control-group">
                                <label class="control-label" for="dlgAddDeviceFolder_name">Click accept to change</label>
                                <div class="controls">
                                    <button type="button" class="btn btn-default " data-dismiss="modal">Cancelar</button>
                                    <input ng-click="modCli()" type="submit" class="btn btn-primary modifyCliente " name="modify" data-dismiss="modal" value="Accept"></input>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</ons-page>

