<ons-page>

    <div class="login-form table-responsive" ng-controller="ControladorUsuarios">

        <table class="table table table-bordered table-striped table-hover table-condensed " style=" text-align: center">
            <thead>
                <th style=" text-align: center">Code</th>
                <th style=" text-align: center">Name</th>
                <th style=" text-align: center">Surnames</th>
                <th style=" text-align: center">Email</th>
                <th style=" text-align: center">
                    <a type="button" class="btn btn-primary btn-large" href="#test_modal_add" data-toggle="modal" style="background:#000;">
                        <ons-icon icon="ion-plus-circled" size="21px" class="ons-icon ons-icon--ion ion-plus-circled" style="font-size: 10px;"></ons-icon>
                    </a>

                </th>
            </thead>
            <tr ng-repeat="user in getCurrentPage()">
                <td>{{user.codigo}}</td>
                <td>{{user.nombre}}</td>
                <td>{{user.apellidos}}</td>
                <td>{{user.email}}</td>
                <td>

                    <a type="button" ng-click="modificar(user.codigo,user.nombre,user.apellidos,user.email)" class="btn btn-primary btn-large modificarUser " href="#test_modal_mod" data-toggle="modal">
                        <ons-icon icon="ion-wrench" size="21px" class="ons-icon ons-icon--ion ion-plus-circled" style="font-size: 10px;"></ons-icon>
                    </a>
                    <a type="button" ng-click="eliminar(user.codigo)" class="btn btn-primary btn-large eliminarUno  " href="#test_modal" data-toggle="modal">
                        <ons-icon icon="ion-trash-a" size="21px" class="ons-icon ons-icon--ion ion-plus-circled" style="font-size: 10px;"></ons-icon>
                    </a>


                </td>
            </tr>
        </table>

        <div class="modal fade" id="test_modal_add">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;
                                 </span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">Add a new field</h4>
                    </div>
                    <div class="modal-body">

                        <form class="form-horizontal">

                            <div class="form-group has-feedback">
                                <label class="control-label  col-xs-3 col-sm-3 col-md-3 col-lg-3" for="inputSuccess3">Name</label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input type="text" class="form-control" ng-model="nameUser" id="inputSuccess3" aria-describedby="inputSuccess3Status">
                                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                                </div>
                            </div>

                            <div class="form-group has-feedback">
                                <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3" for="inputSuccess3">Surnames</label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input type="text" class="form-control apellidoUser" id="inputSuccess3" aria-describedby="inputSuccess3Status" ng-model="apellidoUser">
                                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                                </div>
                            </div>

                            <div class="form-group has-feedback">
                                <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3" for="inputSuccess3">User name</label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input type="text" class="form-control identUser" ng-model="identUser" id="inputSuccess3" aria-describedby="inputSuccess3Status">
                                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                                </div>
                            </div>

                            <div class="form-group has-feedback">
                                <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3" for="inputSuccess3">Password</label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input type="password" class="form-control passUser" ng-model="passUser" id="inputSuccess3" aria-describedby="inputSuccess3Status">
                                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                                </div>
                            </div>

                            <div class="form-group  has-feedback">
                                <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3" for="inputSuccess3">Email</label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input type="email" class="form-control " ng-model="emailUse2" id="inputSuccess3" aria-describedby="inputSuccess3Status">
                                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                                </div>
                            </div>


                        </form>

                    </div>
                    <div class="modal-footer">
                        <form class="form-horizontal" method="post">
                            <div class="control-group">
                                <label class="control-label" for="dlgAddDeviceFolder_name">Click accept to add</label>
                                <div class="controls">
                                    <button type="button" class="btn btn-default " data-dismiss="modal">Cancelar</button>
                                    <input type="submit" class="btn btn-primary addUserss " ng-click="anadir()" name="anadir" data-dismiss="modal" value="Add"></input>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="test_modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;
                                 </span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">Confirmation of the action</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure to delete this field?</p>
                    </div>
                    <div class="modal-footer">
                        <form class="form-horizontal" method="post">
                            <div class="control-group">
                                <label class="control-label" for="dlgAddDeviceFolder_name">Click accept to remove</label>
                                <div class="controls">
                                    <button type="button" class="btn btn-default " data-dismiss="modal">Cancel</button>
                                    <input type="submit" ng-click="destroyed()" class="btn btn-primary eliminar " name="eliminar" data-dismiss="modal" value="Remove"></input>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="test_modal_mod">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;
                                 </span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">Changing field</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">

                            <div class="form-group has-feedback">
                                <label class="control-label  col-xs-3 col-sm-3 col-md-3 col-lg-3" for="inputSuccess3">Name</label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input type="text" class="form-control nombr" id="inputSuccess3" aria-describedby="inputSuccess3Status" ng-model="nameUser">
                                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                                </div>
                            </div>

                            <div class="form-group has-feedback">
                                <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3" for="inputSuccess3">Surnames</label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input type="text" class="form-control apellido" ng-model="apellidosUser"  id="inputSuccess3" aria-describedby="inputSuccess3Status">
                                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                                </div>
                            </div>

                            <div class="form-group  has-feedback">
                                <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3" for="inputSuccess3">Email</label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input type="email" class="form-control correo" id="inputSuccess3" aria-describedby="inputSuccess3Status"  ng-model="emailUser">
                                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="modal-footer">
                        <form class="form-horizontal" method="post">
                            <div class="control-group">
                                <label class="control-label" for="dlgAddDeviceFolder_name">Click accept to change</label>
                                <div class="controls">
                                    <button type="button" class="btn btn-default " data-dismiss="modal">Cancel</button>
                                    <input type="submit" class="btn btn-primary modifyUser " name="modify" data-dismiss="modal" value="Change" ng-click="modUsers()"></input>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</ons-page>