<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()">
        <ons-icon icon="bars"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">Not watched movies</div>
  </ons-toolbar>
   <ons-list ng-controller="pelisNoVistasController">
      <style>
          
        .list-item-container:nth-child(odd){
            background: #b0e0ff;
        }
          
    </style>
    <ons-list-item ng-repeat="pelicula in pelis" modifier="chevron" class="list-item-container">
      <ons-row>
        <ons-col>
          <div class="titulo">
            <span>{{pelicula.nombre}}</span>
          </div>
          <div class="pais">
            {{pelicula.pais}}
          </div>
        </ons-col>
        <ons-col width="40px"></ons-col>
      </ons-row>
    </ons-list-item>
  </ons-list>

</ons-page>
