//Color Variables

$mainBg     : #f2f2f2;

$formBtnBg  : #95c2d7;
$formBtnBr  : #7ba0b1;
$formBg     : #ffffff;
$formFont   : #333333;
$formTitle  : #339bcb;
$formTitleBg: #f5f5f5;
$selectWord : #ececec;
$wordBr     : #ececec;

$pkBtnNBg   : #7280e9;
$pkBtnNBr   : #4d579e;
$pkIcoN     : #4d579e;

$pkBtnABg   : #60eb9c;
$pkBtnABr   : #42a26c;
$pkIcoA     : #42a26c;

$menuBtnBg  : #ff8868;
$menuBtnBr  : #c0664e;

$icon       : #ffffff;

$star       : #ffde00;

$navDotBg   : #333333;
$navDotBr   : #333333;
