<ons-page modifier="shop-details" ng-controller="addReservas">

    <h1 style="text-align:center; font-family: 'Indie Flower';font-size: 3em;">Book Online</h1>


   

    <hr>


    <div class="col-md-6">
        <img class="img-responsive img-border-left" src="images/reserva_online.png" alt="">
    </div>
    <div class="col-md-6">
        <p>
            <input id="fecha" ng-model="fecha" placeholder="Choose the date" required/>
        </p>

        <p>
            <input id="hora" name="hora" ng-model="hora" type="text" placeholder="Select Time" class="time" required/>
        </p>

        <span><p><b>Enter your details</b>
                        </br>
                        Name: 
                        <input type="text"  ng-model="nombre" class="name" required>
                    </p>
                    <p>Surname: 
                        <input type="text" ng-model="apellidos" class="surname" required>
                    </p>
                    <p>DNI: 
                        <input type="text"  ng-model="dni" class="dni" required>
                    </p>
                    <p>Choose your treatment:<br>
                    
                        <select ng-model="tratamiento">
                            <option value="13">Lumbar massage   30€</option>
                            <option value="14">Therapeutic massage   30€</option>
                            <option value="15">Remove contractures   20€</option>
                            <option value="16">Aromatherapy   20€</option>
                        </select>
                    </p>
                  

                    <button class="btn btn-success confirmar" style="float:right;" ng-click="insertar(JSON.stringify(fecha), hora, nombre, apellidos, dni, tratamiento)" onclick="return confirm('Booked successfully')">Confirm</button>
                    </form>
                </div>
                <div class="clearfix"></div>


    

    </ons-page>