<ons-page class="letra">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <ons-toolbar>
            <div class="center"><b>Delete Vehicles</b>
            </div>
        </ons-toolbar>
        <ons-list ng-controller="deleteController">

            <div class="center" style="margin-top: 20px"> <b>Insert the number plate to Delete:</b>
                <div>
                    <input ng-model="Matricula"> </br>
                    </br>
                </div>
    </body>
    </div>

    <p style="text-align: center">
        <button class="bot1" ng-click="delete(Matricula)">Delete Vehicle</button>
    </p>

    <table style="margin-top: 50px" class="table table-bordered">
        <tr>
            <td class='amarillo'>NUMBER PLATE</td>
            <td class='amarilloc'>BRAND</td>
            <td class='amarillo'>MODEL</td>
            <td class='amarilloc'>CITY</td>
            <td class='amarillo'>PRICE</td>
        </tr>
    </table>

    <ons-list-item ng-repeat="del in borrar">
        <div class="center">
            <table class="table table-bordered">
                <tr>
                    <td>{{del.Matricula}}</p>
                    </td>
                    <td>{{del.Marca}}</p>
                    </td>
                    <td>{{del.Modelo}}</p>
                    </td>
                    <td>{{del.Ciudad}}</p>
                    </td>
                    <td>{{del.Precio_diario}}</p>
                    </td>
                </tr>
            </table>
        </div>
        </ons-list>

        <body>
</ons-page>