<ons-page class="letra">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
    </head>
    <ons-toolbar>
        <div class="center"><b>Search Vehicle by city</b>
        </div>
    </ons-toolbar>
    <ons-list ng-controller="searchController">

        <div class="center" style="margin-top: 20px"><b>Insert the city name:</b>
            </center>
            <div>
                <input ng-model="Ciudad"> </div>
            </br>
            </br>
        </div>

        <p style="text-align: center">
            <button class="bot2" ng-click="search(Ciudad)">Search</button>
        </p>

        <table style="margin-top: 50px" class="table table-bordered">
            <tr>
                <td class='amarillo'>NUMBER PLATE</td>
                <td class='amarilloc'>BRAND</td>
                <td class='amarillo'>MODEL</td>
                <td class='amarilloc'>CITY</td>
                <td class='amarillo'>PRICE</td>
            </tr>
        </table>

        <ons-list-item ng-repeat="busca in buscarciudad">
            <div class="center">
                <table class="table table-bordered">
                    <tr>
                        <td>{{busca.Matricula}}</td>
                        <td>{{busca.Marca}}</td>
                        <td>{{busca.Modelo}}</td>
                        <td>{{busca.Ciudad}}</td>
                        <td>{{busca.Precio_diario}}</td>
                    </tr>
                </table>
            </div>
        </ons-list-item>
    </ons-list>

</ons-page>