<ons-navigator title="Navigator" var="myNavigator">
    <ons-page ng-controller="PaginationControllerLands">
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="prevPage()">Previous page</ons-toolbar-button>
            </div>
            <div class="center">Page {{ currentPage + 1 }}</div>
            <div class="right">
                <ons-toolbar-button ng-click="nextPage()">Next page</ons-toolbar-button>
            </div>
        </ons-toolbar>
        <ons-list>
            <input ng-model="parametro">
    <ons-button ng-click="newFil(parametro)">Search</ons-button>
            <ons-list-item ng-repeat="item in getCurrentPage()" ng-click="ponerSeleccion(item)" onclick="myNavigator.pushPage('pageN3.html', { animation : 'slide' } )">
                <ons-row>
                    <ons-col width="95px">
                        <img style="margin: 10px;" ng-src="{{item.img}}" class="thumbnail">
                    </ons-col>
                    <ons-col>
                        <div class="name" style="margin: 20px;">
                            {{item.name}}
                        </div>
                        <div class="location" style="margin: 20px;">
                           {{item.family}}
                        </div>
                        <div class="location" ng-model="item.material" style="margin: 20px;">
                            {{item.material}}
                        </div>
                        <div class="desc" ng-model="item.description" style="margin: 20px;">
                            {{item.description}}
                        </div>                       
                    </ons-col>
                    <ons-col width="40px"></ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
    </ons-page>
    <!--    {{'page'+item+'.html'}}
    {{'pageN'+item+'.html'}}
    -->

</ons-navigator>


<ons-template id="pageN3.html">
    <ons-page ng-controller="PaginaSeleccionadaController">
        <ons-toolbar>
            <div class="center">
                <ons-back-button>Back</ons-back-button>
            </div>
            <div class="center">Instrument: {{actual.name}}</div>
        </ons-toolbar>
        <div style="text-align: center;">
                <center><img ng-src="{{actual.img}}" class="thumbnail"></center>
                <h1>Update Instrument</h1>
            <h2 ng-model="actual.name">{{actual.name}}</h2>
        <p>Family: </p><p>
            <input ng-model="actual.family" placeholder="{{actual.family}}">
        </p>
        <p>Material: </p><p>
            <input ng-model="actual.material" placeholder="{{actual.material}}">
        </p>
        <p>Description: </p><p>
            <input ng-model="actual.description" placeholder="{{actual.description}}">
        </p>
        <p>Image: </p><p>
            <input ng-model="actual.img" placeholder="{{actual.img}}">
        </p>
            
            <br><!--{{actual}}-->
            
            <ons-button modifier="dark" ng-click="updator(actual.name, actual.family, actual.material, actual.description, actual.img)"> Update </ons-button>
            
        </div>
    </ons-page>
</ons-template>