<ons-navigator title="Navigator" var="myNavigator">
    <ons-page ng-controller="PaginationControllerLands">
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="prevPage()">Previous page</ons-toolbar-button>
            </div>
            <div class="center">Page {{ currentPage + 1 }}</div>
            <div class="right">
                <ons-toolbar-button ng-click="nextPage()">Next page</ons-toolbar-button>
            </div>
        </ons-toolbar>
        <ons-list>
            <input ng-model="parametro">
    <ons-button ng-click="newFil(parametro)">Search</ons-button>
            <ons-list-item ng-repeat="item in getCurrentPage()" ng-click="ponerSeleccion(item)" onclick="myNavigator.pushPage('pageN3.html', { animation : 'slide' } )">
                <ons-row>
                    <ons-col width="95px">
                        <img style="margin: 10px;" ng-src="{{item.img}}" class="thumbnail">
                    </ons-col>
                    <ons-col>
                        <div class="name" ng-model="item.name" style="margin: 20px;">
                            {{item.name}}
                        </div>
                        <div class="location" ng-model="item.family" style="margin: 20px;">
                           {{item.family}}
                        </div>
                        <div class="location" ng-model="item.material" style="margin: 20px;">
                            {{item.material}}
                        </div>
                        <div class="desc" ng-model="item.description" style="margin: 20px;">
                            {{item.description}}
                        </div>                       
                    </ons-col>
                    <ons-col width="40px"></ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
    </ons-page>
    <!--    {{'page'+item+'.html'}}
    {{'pageN'+item+'.html'}}
    -->

</ons-navigator>


<ons-template id="pageN3.html">
    <ons-page ng-controller="PaginaSeleccionadaController">
        <ons-toolbar>
            <div class="center">
                <ons-back-button>Back</ons-back-button>
            </div>
            <div class="center">Instrument: {{actual.name}}</div>
        </ons-toolbar>
        <div style="text-align: center;">
            <h1>Are you sure?</h1>
                <center><img ng-src="{{actual.img}}" class="thumbnail"></center>
                <br>
                <div class="name">
                    {{actual.name}}
                </div>
                <div class="location">
                    {{actual.family}}
                </div>
                <div class="location">
                    {{actual.material}}
                </div>
                <div class="desc">
                    {{actual.description}}
                </div>
            
            <br><!--{{actual}}-->
            
            <ons-button modifier="dark" ng-click="eliminator(actual.name)"> Yes </ons-button> <ons-button modifier="dark" ng-click="ons.navigator.popPage();"> No </ons-button>
            
        </div>
    </ons-page>
</ons-template>