<link rel="stylesheet" href="css/clientes.css">
<ons-navigator title="Navigator" var="myNavigator">
    <ons-page ng-controller="PaginationController">
        <ons-toolbar>
            <div class="left">

                <ons-toolbar-button ng-click="prevPage()">BACK</ons-toolbar-button>
            </div>
            <div class="center"><span >Customers {{ currentPage + 1 }}</span>
                <a data-toggle='modal' href="#test_modal">
                    <button class="toolbar-button">
                        <i class="fa ion-person-add" style="font-size:17px"></i> ADD
                    </button>
                </a>
                <a data-toggle='modal' href="#test_modal3" >
                <button class="toolbar-button">
<!--                        <i class="fa ion-android-search" ></i>-->
                        <ons-icon icon="ion-android-search"  spin="true" fixed-width="true" class="ons-icon fa fa-refresh" ></ons-icon>
                </button>
                </a>
            </div>
            <div class="right">
                <ons-toolbar-button ng-click="nextPage()">NEXT</ons-toolbar-button>
            </div>
        </ons-toolbar>

        <ons-list>
            <ons-list-item modifier="chevron" class="list-item-container" ng-repeat="clientes in getCurrentPage()" ng-click="ponerSeleccion(clientes)" onclick="myNavigator.pushPage('clientes1.html', { animation : 'slide' } )">
                <ons-row>
                    <ons-col width="95px">
                        <img ng-src="images/{{clientes.imagen}}" class="thumbnail">
                    </ons-col>
                    <ons-col>
                        <div class="name">
                            {{clientes.nombre}} {{clientes.apellidos}}
                        </div>
                        <div class="name">DNI: {{clientes.dni}}</div>
                        <div class="location">
                            <i class="fa fa-map-marker"></i> {{clientes.direccion}} {{clientes.codigopostal}}
                        </div>
                        <div class="desc">
                            Phone: {{clientes.telefono}}
                        </div>
                    </ons-col>
                    <ons-col width="40px"></ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
        <div class="modal fade" id="test_modal" style="z-index:2000;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;
                                 </span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">ADD CUSTOMER</h4>
                    </div>
                    <div class="modal-body">
                        <form class="aña form-horizontal">
                            <div class="form-group has-feedback">
                                <label class="control-label  col-xs-3 col-sm-3 col-md-3 col-lg-3" for="inputSuccess3">DNI</label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input type="text" class="form-control " id="inputSuccess3" aria-describedby="inputSuccess3Status" ng-model="input1a" required>
                                    <span class="glyphicon glyphicon-asterisk form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label  col-xs-3 col-sm-3 col-md-3 col-lg-3" for="inputSuccess3">NAME</label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input type="text" class="form-control " id="inputSuccess3" aria-describedby="inputSuccess3Status" ng-model="input2a" required>
                                    <span class="glyphicon glyphicon-asterisk form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label  col-xs-3 col-sm-3 col-md-3 col-lg-3" for="inputSuccess3">SURNAME</label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input type="text" class="form-control " id="inputSuccess3" aria-describedby="inputSuccess3Status" ng-model="input3a" required>
                                    <span class="glyphicon glyphicon-asterisk form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label  col-xs-3 col-sm-3 col-md-3 col-lg-3" for="inputSuccess3"> ADDRESS</label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input type="text" class="form-control " id="inputSuccess3" aria-describedby="inputSuccess3Status" ng-model="input4a" required>
                                    <span class="glyphicon glyphicon-asterisk form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label  col-xs-3 col-sm-3 col-md-3 col-lg-3" for="inputSuccess3">ZIP CODE</label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input type="text" class="form-control " id="inputSuccess3" aria-describedby="inputSuccess3Status" ng-model="input5a" required>
                                    <span class="glyphicon glyphicon-asterisk form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label  col-xs-3 col-sm-3 col-md-3 col-lg-3" for="inputSuccess3">PHONE</label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input type="text" class="form-control " id="inputSuccess3" aria-describedby="inputSuccess3Status" ng-model="input6a" required>
                                    <span class="glyphicon glyphicon-asterisk form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label  col-xs-3 col-sm-3 col-md-3 col-lg-3" for="inputSuccess3">IMAGE</label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input type="text" class="form-control " id="inputSuccess3" aria-describedby="inputSuccess3Status" ng-model="input7a" required>
                                    <span class="glyphicon glyphicon-asterisk form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <div class="control-group">
                            <label class="control-label" for="dlgAddDeviceFolder_name">Click to add client accept</label>
                            <div class="controls">
                                <button type="button" class="btn btn-default " data-dismiss="modal">Cancel</button>
                                <input type="submit" class="btn btn-primary añadir" name="añadir" data-dismiss="modal" value="Accept" ng-click="anadir()"></input>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <div class="modal fade" id="test_modal3" style="z-index:2000;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;
                                 </span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">CUSTOMER SEARCH</h4>
                </div>
                <div class="modal-body">
                    <form class="bus form-horizontal">
                        <div class="form-group has-feedback">
                            <DIV CLASS="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <select class="form-control bucli" ng-model="buscli">
                                    <option ng-repeat="bus in buscar">{{bus.resultado}}</option>
                                </select>
                            </DIV>
                            
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <input type="text" class="form-control " id="inputSuccess3" aria-describedby="inputSuccess3Status" ng-model="bus1" required>
                                <span class="glyphicon glyphicon-asterisk form-control-feedback" aria-hidden="true"></span>
                                <span id="inputSuccess3Status" class="sr-only">(success)</span>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <div class="control-group">
                        <label class="control-label" for="dlgAddDeviceFolder_name">Click to accept client to search</label>
                        <div class="controls">
                            <button type="button" class="btn btn-default " data-dismiss="modal">Cancel</button>
                            <input type="submit" class="btn btn-primary buscar" name="buscar" data-dismiss="modal" value="Accept" ng-click="buscarcliente()"></input>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </ons-page>
</ons-navigator>


<ons-template id="clientes1.html">
    <ons-page ng-controller="PaginaSeleccionadaController">
        <ons-toolbar>
            <div class="left">
                <ons-back-button id="atras" >Back</ons-back-button>
            </div>
            <div class="center">CUSTOMER</div>
        </ons-toolbar>

        <div class="profile-card">

            <img ng-src="images/{{actual.imagen}}" class="profile-image">
            <div class="profile-name">{{actual.nombre}} {{actual.apellidos}}</div>
            <div class="profile-id">{{actual.dni}}</div>
            <div class="profile-desc"><i class="fa fa-map-marker"></i> {{actual.direccion}} {{actual.codigopostal}} Phone: {{actual.telefono}}</div>

        </div>

        <ons-list style="border-top: none"><ons-list-item style="line-height: 1; padding: 0;">
          <ons-row class="action">

            <ons-col class="action-col">
              <div class="action-icon"><ons-icon icon="ion-person"></ons-icon></div>
              <div class="action-label">Cars: {{laVariable}}</div>
            </ons-col>

            <ons-col class="action-col">
              <div class="action-icon"><ons-icon icon="ion-settings"></ons-icon></div>
              <div class="action-label">Repairs: {{laVariable1}}</div>
            </ons-col>

            <ons-col class="action-col">
              <div class="action-icon"><ons-icon icon="ion-document-text"></ons-icon></div>
              <div class="action-label">Invoices: {{laVariable2}}</div>
            </ons-col>

          </ons-row>
        </ons-list-item></ons-list>
        
<a href='#test_modal1' data-toggle='modal'>
    
        <ons-list style="margin-top: 12px;">
            <a href='#test_modal1' data-toggle='modal'>
          <ons-list-item modifier="chevron" ng-click="colocar()">
            <div class="prop-desc">
              <ons-icon icon="ion-compose"></ons-icon>
              EDIT CUSTOMER
            </div>
          </ons-list-item>
            </a>
            <a href='#test_modal2' data-toggle='modal'>
          <ons-list-item modifier="chevron">
            <div class="prop-desc">
              <ons-icon icon="ion-trash-b"></ons-icon>
              DELETE CUSTOMER
            </div>
          </ons-list-item>
            </a>
        </ons-list>
    
        <br>
        <div class="modal fade" id="test_modal1" style="z-index:2000;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;
                                 </span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">MODIFY CUSTOMER</h4>
                    </div>
                    <div class="modal-body">
                        <form class="modifi form-horizontal">
                            <div class="form-group has-feedback">
                                <label class="control-label  col-xs-3 col-sm-3 col-md-3 col-lg-3" for="inputSuccess3">OLD DNI</label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input type="text" class="form-control " id="inputSuccess3" aria-describedby="inputSuccess3Status" ng-model="input1" required>
                                    <span class="glyphicon glyphicon-asterisk form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label  col-xs-3 col-sm-3 col-md-3 col-lg-3" for="inputSuccess3">NEW DNI</label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input ng-model="input2" type="text" class="form-control " id="inputSuccess3" aria-describedby="inputSuccess3Status" value="" required>
                                    <span class="glyphicon glyphicon-asterisk form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label  col-xs-3 col-sm-3 col-md-3 col-lg-3" for="inputSuccess3">NAME</label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input ng-model="input3" type="text" class="form-control " id="inputSuccess3" aria-describedby="inputSuccess3Status" value="{{actual.nombre}}" required>
                                    <span class="glyphicon glyphicon-asterisk form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label  col-xs-3 col-sm-3 col-md-3 col-lg-3" for="inputSuccess3">SURNAME</label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input ng-model="input4" type="text" class="form-control " id="inputSuccess3" aria-describedby="inputSuccess3Status" value="{{actual.apellidos}}" required>
                                    <span class="glyphicon glyphicon-asterisk form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label  col-xs-3 col-sm-3 col-md-3 col-lg-3" for="inputSuccess3">ADDRESS</label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input ng-model="input5" type="text" class="form-control " id="inputSuccess3" aria-describedby="inputSuccess3Status" value="{{actual.direccion}}" required>
                                    <span class="glyphicon glyphicon-asterisk form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label  col-xs-3 col-sm-3 col-md-3 col-lg-3" for="inputSuccess3">ZIP CODE</label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input ng-model="input6" type="text" class="form-control " id="inputSuccess3" aria-describedby="inputSuccess3Status" value="{{actual.codigopostal}}" required>
                                    <span class="glyphicon glyphicon-asterisk form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label  col-xs-3 col-sm-3 col-md-3 col-lg-3" for="inputSuccess3">PHONE</label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input ng-model="input7" type="text" class="form-control " id="inputSuccess3" aria-describedby="inputSuccess3Status" value="{{actual.telefono}}" required>
                                    <span class="glyphicon glyphicon-asterisk form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label  col-xs-3 col-sm-3 col-md-3 col-lg-3" for="inputSuccess3">IMAGE</label>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input ng-model="input8" type="text" class="form-control " id="inputSuccess3" aria-describedby="inputSuccess3Status" value="{{actual.imagen}}" required>
                                    <span class="glyphicon glyphicon-asterisk form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                                </div>
                            </div>

                    </div>
                    <div class="modal-footer">
                        <div class="control-group">
                            <label class="control-label" for="dlgAddDeviceFolder_name">Click accept to change customer</label>
                            <div class="controls">
                                <button type="button" class="btn btn-default " data-dismiss="modal">Cancel</button>
                                <input type="submit" class="btn btn-primary modificar" name="modificar" data-dismiss="modal" value="Accept" ng-click="modificar()"></input>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="test_modal2" style="z-index:2000;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;
                                 </span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">CONFIRMATION</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure to delete this field?</p>
                    </div>
                    <div class="modal-footer">
                        <form class="form-horizontal" method="post">
                            <div class="control-group">
                                <label class="control-label" for="dlgAddDeviceFolder_name">Click accept to remove</label>
                                <div class="controls">
                                    <button type="button" class="btn btn-default " data-dismiss="modal">Cancel</button>
                                    <input type="submit" class="btn btn-primary eliminar" name="eliminar" data-dismiss="modal" value="Accept" ng-click="eliminar(myNavigator)"></input>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </ons-page>
</ons-template>


