div.posboton{

position:relative;
margin-left:40%;

    
}

table th{
    
background: #F0F8FF;
    
}

table tr{
    
background: #CCFFFF;
    
}

table{
 
width: 80%;
margin:0 auto;
    
}

div.center{

    
    
}