#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
#sortable li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: .8em;
    height: 12px;
}
#sortable li span {
    position: absolute;
    margin-left: -1.3em;
}
.cont {
    left: 120px;
}

#setData {
    height: 45px;
    width: 25%;
    float: right;
    background-color: #aaa;
    vertical-align: middle;
}
#setData:hover {
    background-color: #bbb;
}
#text1D {
    float: left;
    width: 75%;
    background-color: #999;
}
#text1 {
    width: 100%;
}
.ui-state-default a, .ui-state-default a:visited {
    color: #228;
    font-weight: bold;
}
.ui-state-default:hover{
    background-color: #def;
}
.deleteme:hover{
    cursor: pointer;
}
.mod:hover{
    cursor:cell;
}
a:hover{
    color: #a28
}