.list-item-container {
  line-height: 1;
  padding: 15px 0px 15px 15px;
margin-left: 1em;
}

.thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.name {
  font-weight: 500;
  line-height: 16px;
  font-size: 15px;
  margin-bottom: 6px;
}

.location {
  font-size: 14px;
  opacity: 0.4;
  margin-bottom: 6px;
}

.desc {
  line-height: 1.2;
  font-size: 13px;
}
.profile-card {
  width: 100%;
  text-align: center;
  color: white;
  padding: 30px 0;
  line-height: 1.4;
  background-color: #33393c;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}

.profile-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: black;
  border 1px solid white;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
}

.profile-name {
  margin: 20px 0 0 0;
  font-weight: 600;
  font-size: 17px;
}

.profile-id {
  margin: 0 0 5px 0;
  font-size: 14px;
  opacity: 0.6;
}

.profile-desc {
  font-size: 15px;
  opacity: 0.6;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.info-col {
  height: 60px;
  line-height: 1;
  padding: 12px 0 12px 4px;
margin-left: 2em;
}

.info-num {
  font-size: 16px;
  font-weight: 500;
  opacity: 0.8;
}

.info-unit {
  margin-top: 6px;
  font-size: 14px;
  opacity: 0.4;
}
.alert-dialog {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 270px;
  margin: auto auto;
  background-color: rgba(255, 255, 255, 0.92);
  -webkit-box-shadow: 0 2px 12px rgba(0,0,0,0.07);
  box-shadow: 0 2px 12px rgba(0,0,0,0.07);
  -webkit-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  padding: 16px 0 0 0;
  max-width: 95%;
  color: #1f1f21;
}
.alert-dialog-title {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  font-size: 17px;
  font-weight: 500;
  padding: 0px 8px 0px 8px;
  text-align: center;
  color: #1f1f21;
}
.alert-dialog-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 4px 12px 8px 12px;
  font-size: 14px;
  min-height: 36px;
  text-align: center;
  color: #1f1f21;
}
.alert-dialog-footer {
  width: 100%;
}
.alert-dialog-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  letter-spacing: 0;
  vertical-align: middle;
  border: none;
  border-top: 1px solid #ddd;
  font-size: 16px;
  padding: 0 8px;
  margin: 0;
  display: block;
  width: 100%;
  background-color: transparent;
  text-align: center;
  height: 44px;
  line-height: 44px;
  outline: none;
  color: rgba(24,103,194,0.81);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .alert-dialog-button {
    border-top: none;
    -webkit-background-size: 100% 1px;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: top;
    background-image: -webkit-linear-gradient(270deg, #ddd, #ddd 50%, transparent 50%);
    background-image: -moz-linear-gradient(270deg, #ddd, #ddd 50%, transparent 50%);
    background-image: -o-linear-gradient(270deg, #ddd, #ddd 50%, transparent 50%);
    background-image: linear-gradient(180deg, #ddd, #ddd 50%, transparent 50%);
  }
}
.alert-dialog-button:active {
  background-color: rgba(0,0,0,0.05);
}
.alert-dialog-button--primal {
  font-weight: 500;
}
.alert-dialog-footer--one {
  white-space: nowrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.alert-dialog-button--one {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  width: 100%;
  border-left: 1px solid #ddd;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .alert-dialog-button--one {
    border-top: none;
    border-left: none;
    -webkit-background-size: 100% 1px, 1px 100%;
    background-size: 100% 1px, 1px 100%;
    background-repeat: no-repeat;
    background-position: top, left;
    background-image: -webkit-linear-gradient(90deg, transparent, transparent 50%, #ddd 50%), -webkit-linear-gradient(0deg, transparent, transparent 50%, #ddd 50%);
    background-image: -moz-linear-gradient(90deg, transparent, transparent 50%, #ddd 50%), -moz-linear-gradient(0deg, transparent, transparent 50%, #ddd 50%);
    background-image: -o-linear-gradient(90deg, transparent, transparent 50%, #ddd 50%), -o-linear-gradient(0deg, transparent, transparent 50%, #ddd 50%);
    background-image: linear-gradient(0deg, transparent, transparent 50%, #ddd 50%), linear-gradient(90deg, transparent, transparent 50%, #ddd 50%);
  }
}
.alert-dialog-button--one:first-child {
  border-left: none;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .alert-dialog-button--one:first-child {
    border-top: none;
    -webkit-background-size: 100% 1px;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: top, left;
    background-image: -webkit-linear-gradient(90deg, transparent, transparent 50%, #ddd 50%);
    background-image: -moz-linear-gradient(90deg, transparent, transparent 50%, #ddd 50%);
    background-image: -o-linear-gradient(90deg, transparent, transparent 50%, #ddd 50%);
    background-image: linear-gradient(0deg, transparent, transparent 50%, #ddd 50%);
  }
}
.alert-dialog-mask {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);
}
.alert-dialog--android {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.alert-dialog-title--android {
  border-bottom: 1px solid #ddd;
  height: 52px;
  line-height: 52px;
  padding: 0 12px;
  margin-bottom: 8px;
  text-align: left;
}
.alert-dialog-content--android {
  text-align: left;
  padding: 8px 12px;
}


.plan-list {
  border-top: none;
  background-image: none !important;
}

.plan {
  line-height: 1;
  padding: 0;
}

.plan-left {
  text-align: right;
  padding: 10px 10px 10px 0;
}

.plan-center {
  background-color: #ccc;
  opacity: 0.5;
}

.plan-right {
  padding: 10px 40px 10px 10px;
}

.plan-date {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 4px;
  font-weight: 500;
}

.plan-duration {
  font-size: 11px;
  opacity: 0.4;
}

.plan-name {
  font-size: 17px;
  margin-bottom: 8px;
}

.plan-info {
  opacity: 0.4;
  font-size: 12px;
  line-height: 1.4;
}

.page--shop-details__content {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px !important;
  bottom: 0px;
}

.card {
  background-color: black;
  background-image: url(../images/factura.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-weight: bold;
  height: 370px;
}

.card-toolbar ons-back-button span {
  color: white;
}

.card-name {
  font-weight: 600;
  font-size: 30px;
  position: absolute;
    left: 30px;
    top: 140px;
  text-align: center;
}

.card-desc {
  font-size: 30px;
  font-weight: 400;
  opacity: 0.9;
  line-height: 1.4;
    position: absolute;
left: 30px;
top: 200px;

}

.rating {
  text-align: center;
  position: relative;
  height: 0px;
}

.rating-num {
  position: relative;
  top: -24px;
  height: 24px;
  color: white;
  line-height: 24px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  border-radius: 4px 4px 0 0;
  padding: 0 6px;
  background-color: #eb482f;
  color: white;
  width: auto;
  margin: 0 auto 0 auto;
  display: inline-block;
}

.rating-num ons-icon {
  font-size: 11px;
  vertical-align: -0px;
}

.action-col {
  text-align: center;
  opacity: 0.4;
  padding: 10px 0 8px;
}

.action-col:active {
  opacity: 0.7;
}

.action-col ons-button {
  padding: 0;
  line-height: 1;
}

.action-icon {
  padding: 0 0 4px 0;
}

.action-icon ons-icon {
  font-size: 28px;
}

.action-label {
  font-size: 12px;
}

.prop-desc {
  font-size: 14px;
  opacity: 0.7;
}

.prop-desc ons-icon {
  font-size: 14px;
  vertical-align: -0px;
  opacity: 0.5;
}
