<ons-page>
    <ons-list ng-controller="taddController">
               <!--asignas un controlador para añadir-->

        <br>
        <div class="input-group">
            <input type="text" class="form-control input-lg" placeholder="Add the task..." ng-model="tarea" width="100%" style="text-align: center">
            <span class="input-group-btn">
        <button class="btn btn-success btn-lg btn-block" ng-click="addTask(tarea)">Go Add!</button>
        <!--al hacer click te manda al metodo addTask del controlador para añadir tareas-->
      </span>
        </div>

        <style>
            .list-item-container:nth-child(odd) {
                background-color: #7ABFFF;
            }
            .list-item-container{width: 100%;}
        </style>
        
        <ul class="list">
            
            <ons-list-item ng-repeat="add in insertview" modifier="chevron" class="list-item-container">
                <!--llama al metodo insertview definido en el controlador para dibujar la lista-->
                <li class="list__item list__item--tappable">
                <ons-icon icon="refresh" size="40px" spin="true" fixed-width="true"></ons-icon> {{add.tarea}}
                </li>
            </ons-list-item>
        
        </ul>
        <!--        <input ng-model="tarea"> Inserts the task</br>
        <button ng-click="addTask(tarea)">ADD</button>-->
    </ons-list>

</ons-page>