<ons-page>
    <ons-list ng-controller="tviewController">
        <!--asignas un controlador-->
        <br>

          <div class="center">
           <ons-list-item>
           <label>Code</label>
            <select class="form-control" ng-model="codigo" >
                   <option ng-repeat="add in insertview">{{add.codigo}}</option>
                   
            </select>
            </ons-list-item>
            
                       <ons-list-item>

            <label>State</label>
            <select class="form-control" ng-model="estado">
                   <option>PENDING</option>
                   <option>IN PROCESS</option>
                   <option>COMPLETED</option>
            </select>
          </ons-list-item>  
            
                       <ons-list-item>

        <button class="btn btn-warning btn-lg btn-block" ng-click="updatestate(codigo,estado)">Go Change!</button>
        </div>
        </ons-list-item>
        
        
        <ul class="list">
            <ons-list-item ng-repeat="add in insertview" modifier="chevron" class="list-item-container">
                <!--llama al metodo insertview definido en el controlador-->
                <ons-carousel swipeable style="height: 100px; width: 100%;" initial-index="1" auto-scroll>
                    <ons-carousel-item class="list-action-menu">
                        <ons-icon icon="spinner" size="50px" spin="true" fixed-width="true"></ons-icon><big>{{add.estado}}</big>
                    </ons-carousel-item>
                    <ons-carousel-item class="list-action-item">
                        <ons-row>
                            <ons-col width="52px" style="padding: 10px 0 0 0;">
                                <div style="width: 42px; height: 42px; background-color: #ccc; border-radius: 6px;"></div>
                            </ons-col>
                            <ons-col>
                                <div class="name">
                                    <strong>Task code {{add.codigo}}</strong>
                                </div>
                                <div class="desc">
                                    <i>{{add.tarea}}</i>
                                </div>
                            </ons-col>
                        </ons-row>
                    </ons-carousel-item>
                </ons-carousel>
            </ons-list-item>
        </ul>
    </ons-list>

</ons-page>