<ons-navigator title="Navigator" var="myNavigator">
    <ons-page ng-controller="paginationControllerLands">
        <ons-toolbar>
      <div class="center">Podesliza</div>
    </ons-toolbar>
        <ons-list ng-controller="landController">
  <br />
    <span>Title</span><input ng-model="parametro">
    <span>Author</span><input ng-model="parametro2">
    <button ng-click="newFil(parametro, parametro2)" modifier="light">search</button>
    <button ng-click="del()">Del</button>
    <button ng-click="delAll()">De All</button>
    <ons-list-item ng-repeat="list in lista" ng-click="ponerSeleccion(list)"  class="list-item-container" onclick="myNavigator.pushPage('pageN3.html', { animation : 'slide' } )">
      <ons-row>
        <ons-col>
          <div class="titulo">
            {{list.titulo}} de {{list.autor}}
          </div>
          </div>
        </ons-col>
        <ons-col width="40px"></ons-col>
      </ons-row>
    </ons-list-item>
  </ons-list>
<ons-list>
</ons-page>
</ons-navigator>



<ons-template id="pageN3.html">
    <ons-page ng-controller="paginaSeleccionadaController"  var="myNavigator2">
        <ons-toolbar>
            <div class="left">
                <ons-back-button>Back</ons-back-button>
            </div>
            <div class="center">{{actual.autor}}</div>
        </ons-toolbar>
        <center>
        <div id="imagen" modifier="dark" style="text-align: center;">
            <!--<ons-button modifier="dark" onclick="myNavigator.popPage()">-->
               <center>
                <img ng-src="images/play2.png" class="thumbnail">
               </center>
                <br>
                <div class="name" ng-model="actual.titulo">
                    {{actual.titulo}}
                    <ons-button id="show-modal" ng-click="edit()" modifier="light">Edit</ons-button>
                    <ons-button id="delete" modifier="light" ng-click="delete2(myNavigator2)">Delete</ons-button>
                </div>
            
                    
<ons-modal  var="modal">
  <ons-icon icon="css3" spin="false"></ons-icon>
  <br><br>
  Edit title<br>
  <input type="text" ng-model="dato.input" class="search-input">
<!--<ons-button ng-click="func(actual.titulo)"></ons-button>-->
</ons-modal>
            
            <!--</ons-button>-->
            <br>
        </div>
         </center>
    </ons-page>
</ons-template>



