   <ons-page  ng-controller="CarouselController">
    <ons-toolbar>
      <div class="center">Topics</div>
    </ons-toolbar>
    <ons-carousel swipeable overscrollable auto-scroll="true"  fullscreen direction="vertical" active="true" var="carousel" ng-repeat="top in topicos">

      <ons-carousel-item ng-repeat="top in topicos" style="background-image: url('{{top.tema}}.jpg');
background-repeat: no-repeat;
background-size: cover">
       <span class="item-toplabel">swipe top or bot</span>
        <div class="item-label">{{top.tema}}</div><br/>
        <span class="cover-label">{{top.descripcion}}</span>
      </ons-carousel-item>
      <!--<ons-carousel-item style="background-color: #085078;">
        <div class="item-label">BLUE</div>
      </ons-carousel-item>
      <ons-carousel-item style="background-color: #373B44;">
        <div class="item-label">DARK</div>
      </ons-carousel-item>
      <ons-carousel-item style="background-color: #D38312;">
        <div class="item-label">ORANGE</div>
      </ons-carousel-item>    <ons-carousel-cover>-->

    </ons-carousel>
  </ons-page>