<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()">
        <ons-icon icon="bars"></ons-icon>
      </ons-toolbar-button>
    </div>
      <div class="center">Add Clients</div>
  </ons-toolbar>
  <ons-list ng-controller="AnadirClieController">
    
     
    
<center>Insert the name:  <div class="cent2"><input ng-model="nombre" class="text-input">  </br></br></div> </center>
<center>Insert the last names:<div class="cent2"><input ng-model="apellido" class="text-input"> </br></br> </div></center> 
<center>Insert the phone home: <div class="cent2">  <input ng-model="fijo" class="text-input"> </br></br></div></center>
<center>Insert the mobile phone: <div class="cent2">  <input ng-model="movil" class="text-input"> </br></br></div></center>
<center>Insert the adress: <div class="cent2">  <input ng-model="direccion" class="text-input"> </br></br></div></center>
<center>Insert the E-Mail: <div class="cent2">  <input ng-model="mail" class="text-input"> </br></br></div></center>


      
      <center><button  src="page7.html" ng-click="addClie(nombre,apellido,fijo,movil,direccion,mail)">Add Contact</button></center>
   
   
    </ons-list-item>
  </ons-list> 
 

</ons-page>